# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Builds
build/*

# Mac
.DS_Store

# NodeWebKit Cache
cache

# IDE stuff
.idea*
__pycache__*

# exclude the sample BCI data, can manually add later if needed
python/sampleData/*

