.row.m-t-1
  .col-xs-6.col-xs-push-3.text-center
    h4.card-title Run Python Scripts
    input.form-control.w-100(type='text' name='script' placeholder='bci.py')

.row.m-t-1
  .col-xs-6.col-xs-push-3
    button.btn.btn-success-outline.w-100(data-click='run')
      i.fa.fa-fw.fa-play
      | Run Script
