.col-xs-6
  .btn.btn-lg.btn-primary-outline.w-100(data-submit='1')
    i.fa.fa-fw.fa-arrow-left
    | Low

.col-xs-6
  .btn.btn-lg.btn-primary-outline.w-100(data-submit='2')
    i.fa.fa-fw.fa-arrow-right
    | High
