
.col-xs-12.col-sm-6.col-sm-push-3.text-center

  p.lead Test complete.

  .row
    .col-xs-12
      .btn.btn-lg.btn-success-outline.w-100(data-click='download')
        i.fa.fa-fw.fa-download
        | Download Data

  .row.m-t-1
    .col-xs-12
      .btn.btn-lg.btn-primary-outline.w-100(data-click='restart')
        i.fa.fa-fw.fa-refresh
        | Restart
