.col-xs-12.col-sm-6.col-sm-push-3.text-center

  p.lead Classify tones in the order you hear them.

  p.lead
    small Keyboard controls are enabled.

  .btn.btn-lg.btn-primary-outline.w-100(data-click='start')
    i.fa.fa-fw.fa-play
    | Start
